ADDR = "0.0.0.0:8383"
DB_STRING = 'root:root@tcp(localhost)/authservice?parseTime=true&charset=utf8mb4&loc=UTC'
CORPORATE_DB_STRING = 'root:root@tcp(localhost)/corporate_db?parseTime=true&charset=utf8mb4&loc=UTC'
SESSION_TTL = "8h" # ("3h", "45m", "1h30m" и т.д.).
APP_ENV = development
COOKIE_DOMAIN = localhost
