ADDR = "0.0.0.0:8181"
DB_STRING = 'root:root@tcp(localhost)/mag?parseTime=true&charset=utf8mb4&loc=UTC'
JWT_SECRET = change_me_to_a_long_random_string
ACCESS_TOKEN_TTL = 1m
REFRESH_TOKEN_TTL = 720h
APP_ENV = development
COOKIE_DOMAIN = 